.nav {
    display: flex;
    align-items: center;
    background: #21222A;
    padding: 1em 2em;
}

.nav--icon {
    height: 35px;
    margin-right: 0.5em;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-size: 1.4rem;
}

.nav--title {
    color: #DEEBF8;
}